/* sass-lint:disable class-name-format, no-important */
@import '~@s-ui/theme/lib/settings-compat-v7/index';
@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-dropdown-basic/lib/index';
@import '~@s-ui/react-dropdown-user/lib/index';
@import '~@s-ui/react-atom-button/lib/index';

// Topbar user
$bdrs-topbar-user: 0 !default;
$bg-topbar-user-brand: null !default;
$bgc-topbar-user: $c-white !default;
$bgsz-topbar-user-brand: 100% !default;
$bxsh-topbar-user: $bxsh-base !default;
$fill-topbar-user-toggle-icon: $c-accent !default;
$h-topbar-user-brand-icon-large: $sz-icon-xl !default;
$h-topbar-user-brand-icon-small: $sz-icon-m !default;
$h-topbar-user-brand-large: 0 !default;
$h-topbar-user-brand-small: 0 !default;
$h-topbar-user-flow-button: 48px !default;
$maw-topbar-user-nav: 350px !default;
$size-topbar-user-toggle-icon: 24px !default;
$w-topbar-user-brand-icon-large: $sz-icon-xl !default;
$w-topbar-user-brand-icon-small: $sz-icon-m !default;
$w-topbar-user-brand-large: 0 !default;
$w-topbar-user-brand-small: 0 !default;
$w-topbar-user-nav: 90% !default;

.html-has-scroll-disabled {
  overflow-y: hidden;
  position: fixed;
}

.body-has-scroll-disabled {
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}

.sui-TopbarUser {
  align-items: center;
  background-color: $bgc-topbar-user;
  box-shadow: $bxsh-topbar-user;
  display: flex;
  justify-content: space-between;
  padding: 0 $p-h;
  position: relative;

  @include media-breakpoint-up(m) {
    border-radius: $bdrs-topbar-user;
  }

  &-brand {
    @include reset-link;
    align-self: center;
    @if $bg-topbar-user-brand {
      background: $bg-topbar-user-brand;
      background-size: $bgsz-topbar-user-brand;
    }
    box-sizing: content-box;
    font-size: $fz-h2;
    font-weight: $fw-bold;
    height: $h-topbar-user-brand-small;
    margin-bottom: $m-s;
    margin-right: $m-l;
    @include text-hide;
    @include media-breakpoint-up(m) {
      height: $h-topbar-user-brand-large;
      margin-right: $m-l;
      width: $w-topbar-user-brand-large;
    }
    @include media-breakpoint-up(l) {
      margin-right: $m-xxl;
    }
    padding: $p-v 0;
    width: $w-topbar-user-brand-small;

    &Icon {
      align-items: center;
      display: flex;
      margin-right: $m-l;

      @include media-breakpoint-up(m) {
        margin-right: $m-xxl;
      }
    }
  }

  &-ctaButtonIcon {
    fill: currentColor !important;
  }

  &-nav {
    @include media-breakpoint-down(s) {
      background-color: $c-white;
      display: flex;
      flex-direction: column;
      height: 100%;
      left: 0;
      max-width: $maw-topbar-user-nav;
      overflow-y: auto;
      position: absolute;
      top: 0;
      transform: translateX(-100%);
      transition: transform $trs-base;
      width: $w-topbar-user-nav;

      .is-expanded > & {
        transform: translateX(0);
      }

      &Wrap {
        overflow: hidden;
        pointer-events: none;
        position: fixed;
        z-index: 1;

        &::before {
          background-color: $c-black;
          content: '';
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: opacity $trs-base;
          width: 100%;
        }

        &.is-expanded {
          pointer-events: all;

          &::before {
            opacity: 0.6;
          }
        }
      }

      &Main {
        order: 2;
      }

      &User {
        order: 1;
      }
    }

    @include media-breakpoint-up(m) {
      display: flex;
      justify-content: space-between;

      &Wrap {
        flex: 1;
        padding: $p-v 0;
      }

      &Main,
      &User {
        align-items: center;
        display: flex;
      }

      &Main {
        flex: 1;
      }
    }
  }

  &-title {
    display: flex;
    align-items: center;
  }

  &-toggle {
    @include reset-button;
    @include media-breakpoint-up(m) {
      display: none;
    }
    margin-left: -$m-h;
    padding: $p-v $p-h;

    &.has-notifications {
      @include sui-badge-notification(true, 2px, 12px);
    }

    &Icon {
      fill: $fill-topbar-user-toggle-icon !important;
      height: $size-topbar-user-toggle-icon;
      width: $size-topbar-user-toggle-icon;
    }
  }

  &-nav-button {
    align-items: center;
    display: flex;
    height: $h-topbar-user-flow-button;
  }

  &-wrap {
    display: flex;
    flex: 1;
  }
}
