$base-class: '.sui-TcfSecondLayer-groupHeader';

#{$base-class} {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: $m-xxl 0 0;

  & &-title {
    font-size: 16px;
    margin-bottom: $m-l;
  }

  & &-buttons {
    text-align: right;
    padding-left: $p-l;
    margin-bottom: $m-m;

    .sui-AtomButton {
      font-size: 12px;
      border-radius: $bdrs-xl;
      margin-bottom: $m-m;
    }
  }
}
