$base-class: '.sui-TcfSecondLayer-groupHeader';

$fz-tcf-second-layer-title-group-header: $fz-m !default; // 16px;
$fz-tcf-second-layer-title-group-header-mobile: $fz-s !default; // 14px;

#{$base-class} {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: $m-xxl 0 0;

  & &-title {
    font-size: $fz-tcf-second-layer-title-group-header-mobile;
    margin-bottom: $m-l;
    @include media-breakpoint-up(s) {
      font-size: $fz-tcf-second-layer-title-group-header;
    }
  }

  & &-buttons {
    text-align: right;
    padding-left: $p-l;
    margin-bottom: $m-m;

    .sui-AtomButton {
      font-size: 12px;
      border-radius: $bdrs-xl;
      margin-bottom: $m-m;
    }
  }
}
