@import '~@schibstedspain/sui-theme/lib/index';

@import '~@s-ui/react-molecule-input-field/lib/index';
@import '~@s-ui/react-molecule-select-field/lib/index';
@import '~@s-ui/react-molecule-textarea-field/lib/index';
@import '~@s-ui/react-molecule-button-group/lib/index';
@import '~@schibstedspain/sui-atom-button/lib/index';
@import '~@s-ui/react-molecule-dropdown-option/lib/index';

.sui-FormBuilder {
  padding: $p-xl;

  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-item {
    margin-bottom: $m-l;

    &Comments {
      textarea {
        width: 100%;
      }
    }
  }
}
