@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-switch/lib/index';
@import '~@s-ui/react-atom-button/lib/index';
@import '~@s-ui/react-molecule-modal/lib/index';
@import '~@s-ui/react-molecule-notification/lib/index';
@import './iconClose//index';

$fz-tcf-first-layer-base: $fz-s;
$fz-tcf-first-layer-mobile: $fz-xxs;
$maw-tcf-first-layer: 1200px;
$maw-tcf-first-layer-buttons: 200px + $p-xxxl;
$maw-tcf-first-layer-logo: 114px;
$bxsh-tcf-first-layer: 0 0 8px 2px rgba(0, 0, 0, 0.15);

$base-class: '.sui-TcfFirstLayer';

#{$base-class} {
  &-body {
    font-size: $fz-tcf-first-layer-mobile;
    padding: 0 $p-m;

    #{$base-class}:not(#{$base-class}--isMobile) .sui-MoleculeNotification & {
      @include media-breakpoint-up(s) {
        font-size: $fz-tcf-first-layer-base;
        margin: 0 auto;
        max-width: $maw-tcf-first-layer;
        display: flex;
        padding: $p-l 0 $p-xl;
      }
    }
  }

  &-title {
    font-size: $fz-s;
    margin-top: 0;
    margin-bottom: $m-m;

    #{$base-class}:not(#{$base-class}--isMobile) .sui-MoleculeNotification & {
      @include media-breakpoint-up(s) {
        margin-bottom: $m-xl;
        font-size: $fz-h5;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: $c-primary;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    margin-top: $m-xl;

    #{$base-class}:not(#{$base-class}--isMobile) .sui-MoleculeNotification & {
      @include media-breakpoint-up(s) {
        flex-direction: column-reverse;
        min-width: $maw-tcf-first-layer-buttons;
        border-top: 0;
        justify-content: flex-end;
        padding-left: $p-xxxl;
        margin-top: 0;
      }
    }

    & .sui-AtomButton {
      border-radius: $bdrs-xl;
      font-size: $fz-tcf-first-layer-base;

      #{$base-class}:not(#{$base-class}--isMobile) .sui-MoleculeNotification & {
        @include media-breakpoint-up(s) {
          margin: 0 0 $m-l 0;
          font-size: initial;
        }
      }
    }
  }

  &-logo {
    width: $maw-tcf-first-layer-logo;
  }

  .sui-MoleculeNotification-iconLeft {
    display: none;
  }

  .sui-MoleculeNotification {
    background-color: $c-white;
    box-shadow: $bxsh-tcf-first-layer;
  }
}
