@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-switch/lib/index';
@import '~@s-ui/react-atom-button/lib/index';
@import '~@s-ui/react-molecule-modal/lib/index';
@import '~@s-ui/react-molecule-notification/lib/index';
@import './iconClose//index';

.sui-TcfFirstLayer {
  &-buttons {
    & button {
      font-size: 14px;
      border-radius: 8px;
    }
  }
  &-buttons--mobile {
    border-top: 1px solid #bbbbbb;
    margin-top: 33.5px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &-buttons.sui-TcfFirstLayer-buttons--desktop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    & button {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  &-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
    &-info {
      width: 70%;
      &-title {
        font-size: 14px;
        margin-top: 16px;
      }
      &-text {
        font-size: 10px;
      }
      &-link {
        text-decoration: none;
        color: $c-primary;
      }
    }
  }
  &-logo {
    width: 113px;
    height: 20px;
  }
  .sui-MoleculeNotification-iconLeft {
    display: none; // force as we want to get more space for text
  }
  .sui-MoleculeNotification {
    background-color: white;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
  }
}
