@import '~@s-ui/theme/lib/settings-compat-v7/index';
@import '~@s-ui/theme/lib/index';
@import './settings';

.sui-LinkBasic {
  background-color: transparent;
  border: none;
  color: $c-link-basic;
  cursor: pointer;
  display: inline;
  font-size: $fz-link-basic;
  line-height: normal;
  margin: $m-link-basic;
  padding: 0;
  text-decoration: $td-link-basic;

  &-icon {
    margin-right: $m-link-basic-icon;
  }
}
