@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-button/lib/index';
@import '~@s-ui/react-molecule-modal/lib/index';
@import '~@s-ui/react-atom-switch/lib/index';
@import './components/iconClose/index';
@import './components/tcf-secondLayer-decision-group/index';
@import './components/tcf-secondLayer-user-decision/index';
@import './components/tcf-secondLayer-vendors-user-decision/index';
@import './components/tcf-secondLayer-legal-expandedContent/index';

$fz-tcf-second-layer-base: $fz-s !default; // 14px
$fz-tcf-second-layer-mobile: $fz-xs !default; // 12px
$fz-tcf-second-layer-title: $fz-l !default; // 18px
$fz-tcf-second-layer-title-mobile: $fz-s !default; // 14px
$fz-tcf-second-layer-footer-buttons: $fz-xs !default; // 12px
$maw-tcf-second-layer-modal: 800px !default;

$base-class: '.sui-TcfSecondLayer';
$base-class-modal: '#sui-TcfSecondLayerModal';

#{$base-class-modal} {
  .sui-MoleculeModal-dialog {
    max-width: $maw-tcf-second-layer-modal;
    position: relative;
  }
}

#{$base-class} {
  &-main {
    font-size: $fz-tcf-second-layer-mobile;
    @include media-breakpoint-up(s) {
      font-size: $fz-tcf-second-layer-base;
    }
  }

  &-logo {
    max-height: $mah-tcf-second-layer-logo-mobile;
    @include media-breakpoint-up(s) {
      max-height: $mah-tcf-second-layer-logo;
    }
  }

  &-title {
    font-size: $fz-tcf-second-layer-title-mobile;
    font-weight: $fw-bold;
    margin: $m-xxl 0 $m-m;

    @include media-breakpoint-up(s) {
      font-size: $fz-tcf-second-layer-title;
      margin: $m-xxl 0 $m-l;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;

    .sui-AtomButton.sui-AtomButton--small {
      border-radius: $bdrs-xl;
      font-size: $fz-tcf-second-layer-footer-buttons;
      @include media-breakpoint-up(s) {
        padding: 0 $p-l;
        height: 40px;
        font-size: $fz-tcf-second-layer-base;
      }
    }
  }
}
