@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/react-cmp-modal/lib/index';
@import '~@s-ui/react-molecule-notification/lib/index';

$c-sui-cmp-banner-link: $c-primary !default;

.sui-CmpBanner {
  &-text {
    font-size: $fz-xs;
    line-height: $lh-xxs;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(s) {
      font-size: $fz-s;
      line-height: $lh-s;
    }
  }

  &-link {
    color: $c-sui-cmp-banner-link;
  }
}