@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/react-cmp-modal/lib/index';
@import '~@s-ui/react-molecule-notification/lib/index';

$c-sui-cmp-banner-link: $c-primary !default;

.sui-CmpBanner {
  &-text {
    font-size: $fz-s;
    margin: 0;
    padding: 0;
  }

  &-link {
    color: $c-sui-cmp-banner-link;
    text-decoration: none;
  }

  .sui-MoleculeNotification-iconLeft {
    display: none; // force as we want to get more space for text
  }
}
