@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/theme-basic/lib/index';

$c-image-placeholder-fill: $c-gray;

.sui-ImagePlaceholder {
  &-image {
    display: block;
    width: 100%;

    &--hidden {
      display: none;
    }
  }

  &--rounded {
    border-radius: $bdrs-l;
    overflow: hidden;
  }

  svg {
    fill: $c-image-placeholder-fill;
  }
}
