// Dropdown
$bdt-dropdown-menu: $bdw-s solid $c-primary !default;
$bgc-dropdown-button-hover: $c-white !default;
$bgc-dropdown-menu-hover: $c-white !default;
$bgc-dropdown-menu: $c-gray-lightest !default;
$bxsh-dropdown-menu: $bxsh-base !default;
$c-dropdown-arrow: transparent !default;
$size-dropdown-arrow-up: 0 !default;
$size-dropdown-icon: 18px !default;
$z-dropdown-menu: 1 !default;

// Dropdown user
$bd-dropdown-user-last-item: 1px solid $c-gray-light !default;
$bdrs-drowpdown-user-button-desktop: 0 !default;
$bg-dropdown-user-button: $c-gray !default;
$bgc-dropdown-user: $c-white !default;
$w-dropdown-user-avatar: 48px !default;
$h-dropdown-user-avatar: auto !default;
$w-dropdown-user-text: 100px !default;
$c-dropdown-user-text-large: $c-text-base !default;
$c-dropdown-user-icon-highlight: $c-accent !default;
$c-dropdown-user-icon-hover: $c-accent !default;
$c-dropdown-user-link-highlight: $c-accent !default;
