@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-molecule-progress-steps/lib/index';

// Fixed variables
$maw-login-password-reset: 1280px;
$w-login-password-reset-item: 308px;
$w-login-password-reset-item-large: 416px;

// Overwritable variables
$c-login-password-reset-main: #4d4d4d !default;
$lh-login-password-reset-message: 22px !default;

.sui-LoginPasswordReset {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: $maw-login-password-reset;
  padding: $p-xl $p-l;

  @include media-breakpoint-up(m) {
    align-items: flex-start;
    flex-direction: row;
    padding: 80px $p-l; // TODO
  }

  &-item {
    width: 100%;

    @include media-breakpoint-up(s) {
      width: auto;
    }

    @include media-breakpoint-up(m) {
      flex-basis: 33.33%;
      margin-right: $m-xxl;
    }

    &False {
      display: none;

      @include media-breakpoint-up(m) {
        display: block;
      }
    }
  }

  &-stageInfo {
    color: $c-login-password-reset-main;

    @include media-breakpoint-up(s) {
      width: $w-login-password-reset-item-large;
    }

    @include media-breakpoint-up(m) {
      width: $w-login-password-reset-item;
    }

    &Progress {
      margin-bottom: $m-l;
    }

    &Title {
      letter-spacing: -1px;
      margin: 0;
    }

    &Message {
      margin: $m-l 0 0;
      line-height: $lh-login-password-reset-message;
    }
  }

  &-formHandler {
    @include media-breakpoint-up(s) {
      width: $w-login-password-reset-item-large;
    }
  }
}
