@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-button/lib/index';
@import '~@s-ui/react-molecule-input-field/lib/index';
@import '~@s-ui/react-molecule-progress-steps/lib/index';
@import '~@s-ui/react-molecule-notification/lib/index';
@import '~@s-ui/react-atom-tooltip/lib/index';
@import '~@s-ui/react-atom-icon/lib/index';

// Fixed variables
$maw-login-password-reset: 1280px;
$w-login-password-reset-item: 308px;
$w-login-password-reset-item-large: 416px;
$miw-login-password-reset-item-large: 384px;

// Overwritable variables
$bd-login-password-reset-form-help-content: 1px solid #d1d0d5 !default;
$bgc-login-password-reset-form: #ffffff !default;
$bdrs-login-password-reset-form: $bdrs-xl !default;
$bgc-login-password-reset-form-help-content: #ffffff !default;
$bdrs-login-password-reset-form-help-content: $bdrs-xl !default;
$bdt-login-password-reset-form-footer: $bdw-s solid #f1f1f1 !default;
$bxsh-login-password-reset-form: 0px 0px 16px rgba(0, 0, 0, 0.08) !default;
$c-login-password-reset: #000e23 !default;
$c-login-password-reset-form-help-content-icon-tooltip: $c-primary !default;
$c-login-password-reset-form-text-anchor: #1d1d1d !default;
$c-login-password-reset-form-title: #1d1d1d !default;
$c-login-password-reset-main: #4d4d4d !default;
$c-login-password-reset-stage-info-text: #3b4a5a !default;
$fw-login-password-reset-form-help-content-title-anchor: 600 !default;
$fw-login-password-reset-form-help-content-text-anchor: 600 !default;
$fw-login-password-reset-form-text-title: 600 !default;
$fw-login-password-reset-form-text-anchor: 600 !default;
$fw-login-password-reset-form-title: 600 !default;
$fz-login-password-reset-form-help-content-title: 14px !default;
$fz-login-password-reset-form-help-content-text: 14px !default;
$fz-login-password-reset-stage-info-title: 34px !default;
$fz-login-password-reset-form-text: 14px !default;
$fz-login-password-reset-form-text-title: 16px !default;
$fz-login-password-reset-form-title: 20px !default;
$fz-login-password-reset-stage-info-text: 16px !default;
$lh-login-password-reset-form-text: 20px !default;
$lh-login-password-reset-form-text-title: 22px !default;
$lh-login-password-reset-message: 22px !default;
$lh-login-password-reset-form-footer: 20px !default;
$lh-login-password-reset-help-content-text: 22px !default;
$lh-login-password-reset-stage-info-title: 34px !default;
$p-login-password-reset-form-help-content: $p-l $p-m !default;
$p-login-password-reset: 80px $p-l !default;
$p-login-password-reset-form: $p-xl $p-l !default;
$p-login-password-reset-form-desktop: $p-xl $p-xxl !default;
$sz-login-password-reset-form-help-content-image: 48px !default;
$td-login-password-reset-form-text-anchor: underline !default;

.sui-LoginPasswordReset {
  align-items: center;
  color: $c-login-password-reset;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: $maw-login-password-reset;
  padding: $p-xl 0;

  @include media-breakpoint-up(m) {
    align-items: flex-start;
    flex-direction: row;
    padding: $p-login-password-reset;
  }

  &-item {
    margin-bottom: $m-xl;
    width: 100%;

    @include media-breakpoint-up(s) {
      max-width: $w-login-password-reset-item-large;
      min-width: $miw-login-password-reset-item-large;
    }

    @include media-breakpoint-up(m) {
      flex-basis: 33.33%;
      margin-bottom: 0;
    }
  }

  &-stageInfo {
    color: $c-login-password-reset-main;

    @include media-breakpoint-up(s) {
      width: $w-login-password-reset-item-large;
    }

    @include media-breakpoint-up(m) {
      width: $w-login-password-reset-item;
    }

    &Progress {
      margin-bottom: $m-l;
    }

    &Title {
      font-size: $fz-login-password-reset-stage-info-title;
      letter-spacing: -1px;
      line-height: $lh-login-password-reset-stage-info-title;
      margin: 0;
    }

    &Message {
      color: $c-login-password-reset-stage-info-text;
      font-size: $fz-login-password-reset-stage-info-text;
      line-height: $lh-login-password-reset-message;
      margin: $m-l 0 0;
    }
  }

  &-formHandler {
    @include media-breakpoint-up(s) {
      width: $w-login-password-reset-item-large;
    }
  }

  &-form {
    background-color: $bgc-login-password-reset-form;
    border-radius: $bdrs-login-password-reset-form;
    box-shadow: $bxsh-login-password-reset-form;
    padding: $p-login-password-reset-form;

    @include media-breakpoint-up(s) {
      padding: $p-login-password-reset-form-desktop;
    }

    &Header {
      display: flex;
      justify-content: space-between;

      &Title {
        color: $c-login-password-reset-form-title;
        font-size: $fz-login-password-reset-form-title;
        font-weight: $fw-login-password-reset-form-title;
        margin: 0;
      }

      &Secure {
        align-items: center;
        color: $c-gray-light-1;
        display: flex;
        font-size: $fz-s;

        & .sui-AtomIcon {
          margin-right: $m-m;
        }
      }
    }

    &Text {
      font-size: $fz-login-password-reset-form-text;
      line-height: $lh-login-password-reset-form-text;
      margin-top: $m-xl;

      &Title {
        font-size: $fz-login-password-reset-form-text-title;
        font-weight: $fw-login-password-reset-form-text-title;
        line-height: $lh-login-password-reset-form-text-title;
      }

      &Anchor {
        cursor: pointer;
        font-weight: $fw-login-password-reset-form-text-anchor;
        text-decoration: $td-login-password-reset-form-text-anchor;
      }
    }

    &Input {
      margin-top: $m-xl;
    }

    &Buttons {
      margin: $m-xl 0 0;
    }

    &Button {
      margin-bottom: $m-l;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &Footer {
      border-top: $bdt-login-password-reset-form-footer;
      font-size: $fz-m;
      line-height: $lh-login-password-reset-form-footer;
      margin-top: $m-xl;
      padding: $p-xl 0 0 0;

      a {
        color: $c-primary;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    &Notification {
      margin-top: $m-xl;
    }

    &Link {
      color: $c-login-password-reset;
      cursor: pointer;
      display: inline-block;
      font-size: $fz-s;
      font-weight: bold;
      line-height: normal;
      text-decoration: underline;
    }
  }

  &-helpContent {
    align-items: center;
    background-color: $bgc-login-password-reset-form-help-content;
    border: $bd-login-password-reset-form-help-content;
    border-radius: $bdrs-login-password-reset-form-help-content;
    display: flex;
    margin-top: $m-l;
    padding: $p-login-password-reset-form-help-content;

    &Image {
      height: $sz-login-password-reset-form-help-content-image;
      margin-right: $m-l;
      width: $sz-login-password-reset-form-help-content-image;
    }

    &Title {
      font-size: $fz-login-password-reset-form-help-content-title;
      font-weight: $fw-login-password-reset-form-help-content-title-anchor;
      margin: 0 0 $m-s;
    }

    &Text {
      align-items: end;
      display: flex;
      flex-direction: row;
      font-size: $fz-login-password-reset-form-help-content-text;
      line-height: $lh-login-password-reset-help-content-text;
      margin: 0;

      a {
        color: $c-primary;
        font-weight: $fw-login-password-reset-form-help-content-text-anchor;
        text-decoration: underline;
      }
    }

    &IconTooltip {
      color: $c-login-password-reset-form-help-content-icon-tooltip;
      margin-left: $m-m;
    }
  }
}
