/* sass-lint:disable class-name-format, no-important */

@import '~@s-ui/theme/lib/settings-compat-v7/index';
@import '~@s-ui/theme/lib/index';

$bdb-dropdown-basic-menu-title: 1px solid $c-gray-light !default;
$bdrs-dropdown-button-desktop: 0 !default;
$c-dropdown-basic-menu-list-link: $c-text-base !default;
$c-dropdown-basic-menu-title: $c-gray !default;
$fw-dropdown-basic-menu-title: $fw-bold !default;
$fz-dropdown-basic-menu-title: inherit !default;
$td-dropdown-basic-menu-list-link-hover: none !default;
$tt-dropdown-basic-menu-title: uppercase !default;

.sui-DropdownBasic {
  @include media-breakpoint-down(s) {
    position: relative;

    &.is-expanded {
      border-bottom: 1px solid $c-gray-light;
    }
  }
  @include media-breakpoint-up(m) {
    display: inline-block;
  }

  &-button {
    @include reset-button;
    @include media-breakpoint-down(s) {
      background-color: $c-white;
      color: $c-text-base;
      padding: $p-l;
      width: 100%;
    }
    @include media-breakpoint-up(m) {
      border-radius: $bdrs-dropdown-button-desktop;
      padding: $p-m;

      .is-expanded & {
        background-color: $bgc-dropdown-button-hover;
      }
    }
    align-items: center;
    color: $c-dropdown-button-large;
    cursor: pointer;
    display: flex;
    font-size: $fz-m;
    justify-content: space-between;

    &:hover {
      color: $c-dropdown-basic-button-hover;
    }

    &Wrap {
      @include media-breakpoint-up(m) {
        padding: $size-dropdown-arrow-up 0;
        position: relative;

        .is-expanded > &::after {
          @include arrow-up($size-dropdown-arrow-up, $c-dropdown-arrow);
          bottom: 0;
          content: '';
          left: calc(50% - #{$size-dropdown-arrow-up});
          position: absolute;
        }
      }
    }

    &Content {
      @include media-breakpoint-down(s) {
        font-size: $fz-h3;
        font-weight: normal;
      }
      align-items: center;
      display: flex;
      font-weight: $fw-dropdown-basic-button;
      text-align: left;
    }

    &Icon {
      @include media-breakpoint-up(m) {
        display: none;
      }

      & :first-child {
        display: flex;

        & svg {
          height: $size-dropdown-icon !important;
          width: $size-dropdown-icon !important;
        }
      }

      &:not(:last-child) {
        margin-right: $m-m;
      }
    }
  }

  &Menu {
    display: none;

    .is-expanded > & {
      @include media-breakpoint-down(s) {
        background-color: $c-white;
        width: 100%;
      }
      @include media-breakpoint-up(m) {
        background-color: $bgc-dropdown-menu-hover;
        border-radius: $bdrs-dropdown-basic-menu;
        box-shadow: $bxsh-dropdown-menu;
        position: absolute;
        white-space: nowrap;
        z-index: $z-dropdown-menu;
      }

      background-color: $bgc-dropdown-menu;
      border-top: $bdt-dropdown-menu;
      display: block;
      padding: $p-m;
    }

    &-item {
      @include media-breakpoint-up(m) {
        float: left;

        &:not(:last-child) {
          padding-left: $p-m;
          padding-right: $p-l;
        }
      }
    }

    &-title {
      @include media-breakpoint-down(s) {
        margin-bottom: 0;
        padding: $p-l 0 0 $p-m;
      }
      @include media-breakpoint-up(m) {
        border-bottom: $bdb-dropdown-basic-menu-title;
      }
      color: $c-dropdown-basic-menu-title;
      font-weight: $fw-dropdown-basic-menu-title;
      font-size: $fz-dropdown-basic-menu-title;
      margin-bottom: $m-l;
      padding: $p-m 0;
      text-transform: $tt-dropdown-basic-menu-title;
    }

    &-list {
      @include reset-list;

      &Item {
        @include media-breakpoint-down(s) {
          &:not(:first-child) {
            margin: $m-m 0 $m-l;
          }
        }
        margin: $m-l 0;
      }

      &Link {
        @include reset-link;
        color: $c-dropdown-basic-menu-list-link;
        @include media-breakpoint-down(s) {
          font-size: $fz-l;
          padding: $p-s $p-l;
        }
        @include media-breakpoint-up(m) {
          white-space: nowrap;
        }
        display: block;
        padding-right: $p-xl;

        &:hover {
          color: $c-dropdown-basic-list-link;
          text-decoration: $td-dropdown-basic-menu-list-link-hover;
        }
      }
    }
  }
}
