@import '~@s-ui/theme/lib/settings-compat-v7/index';
@import '~@s-ui/theme/lib/index';

@import '~@s-ui/react-atom-button/lib/index';

@import '~react-datepicker/src/stylesheets/datepicker.scss';

$z-range-datepicker-icon: 2 !default;
$c-range-datepicker-icon-fill: $c-text-base !default;
$c-range-datepicker-icon-fill-hover: $c-primary !default;
$c-range-datepicker-icon-fill-focus: $c-primary !default;
$jc-range-datepicker-inputs: normal !default;
$bgc-range-datepicker-selected: $c-primary !default;
$w-range-datepicker-input: 130px !default;
$fz-range-datepicker-input: $fz-xs !default;
$p-range-datepicker-input: $p-m $p-l !default;

.sui-FormRangeDatepicker {
  display: flex;
  justify-content: $jc-range-datepicker-inputs;

  &-item {
    align-items: center;
    display: flex;
    padding-right: $p-m;
    width: $w-range-datepicker-input;

    &-icon {
      @include sui-icon--small;
      fill: $c-range-datepicker-icon-fill !important;
    }

    &:hover &-icon {
      fill: $c-range-datepicker-icon-fill-hover !important;
    }

    &:focus &-icon {
      fill: $c-range-datepicker-icon-fill-focus !important;
    }
  }

  &-box {
    margin-left: -$m-xxl;
    padding: $p-m;
    pointer-events: none;
    z-index: $z-range-datepicker-icon;
  }

  &-input {
    @include sui-input;
    cursor: pointer;
    font-size: $fz-range-datepicker-input;
    padding: $p-range-datepicker-input;
  }

  .react-datepicker__time-container {
    .react-datepicker__time {
      .react-datepicker__time-box {
        ul.react-datepicker__time-list {
          li.react-datepicker__time-list-ite {
            &--selected {
              background-color: $bgc-range-datepicker-selected;
              &:hover {
                background-color: $bgc-range-datepicker-selected;
              }
            }
          }
        }
      }
    }
  }

  .react-datepicker__day {
    &--selected,
    &--in-selecting-range,
    &--in-range {
      background-color: $bgc-range-datepicker-selected;

      &:hover {
        background-color: color-mix(in srgb, $bgc-range-datepicker-selected, $c-black 5%);
      }
    }

    &--keyboard-selected {
      background-color: color-mix(in srgb, $bgc-range-datepicker-selected, $c-white 10%);

      &:hover {
        background-color: color-mix(in srgb, $bgc-range-datepicker-selected, $c-black 5%);
      }
    }

    &--in-selecting-range:not(&--in-range) {
      background-color: color-mix(in srgb, $bgc-range-datepicker-selected, transparent 50%);
    }
  }

  .react-datepicker__close-icon {
    &::after {
      background-color: $bgc-range-datepicker-selected;
    }
  }
}
