@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/react-cmp-modal/lib/index';
@import '~@s-ui/react-molecule-notification/lib/index';
@import '~@schibstedspain/sui-atom-button/lib/index';

$bgc-cmp-ui: #fff !default;

$ta-cmp-ui-content: left !default;
$fz-cmp-ui-text-mobile: $fz-xs !default;
$fz-cmp-ui-text-desktop: $fz-m !default;

.sui-CmpUi {
  /* Cmp is an exception over the MoleculeNotification with some specific styles
     as we want to be the same across verticales, we're styling directly SUI.
     But don't do that on your home. */
  .sui-MoleculeNotification {
    background-color: $bgc-cmp-ui !important; /* no matter the type, should be the color defined */
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
    padding-bottom: $p-xl;
    @include media-breakpoint-up(s) {
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      min-height: 30%;
      max-height: none;
      justify-content: center;
    }

    &-content {
      align-items: center;
    }

    &-children {
      width: 100%;
    }
  }

  &-button {
    font-size: $fz-s;
    max-height: 32px;
    margin: 0 0 $m-s 0 !important;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(s) {
      font-size: $fz-m;
      margin: 0 0 $m-l 0 !important;
    }

    @include media-breakpoint-up(l) {
      margin: 0 $m-l 0 0 !important;
      max-height: none;
      width: auto;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    text-align: $ta-cmp-ui-content;
    @include media-breakpoint-up(s) {
      flex-direction: row;
      max-width: 1220px;
      position: relative;
    }
  }

  &-title {
    font-size: $fz-m;
    margin: 0 0 $m-l;

    @include media-breakpoint-up(s) {
      font-size: $fz-xxl;
      margin: 0 0 $m-m;
    }
  }

  &-text {
    color: $c-gray-dark;
    font-size: $fz-cmp-ui-text-mobile;
    line-height: 18px;
    display: block;
    padding-bottom: $p-l;

    @include media-breakpoint-up(s) {
      color: $c-black;
      font-size: $fz-cmp-ui-text-desktop;
      line-height: 1.5;
      padding-bottom: $p-xl;
    }
  }

  &-link {
    color: $c-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin: 0;

    @include media-breakpoint-up(s) {
      margin-top: 36px;
      padding-left: $p-xl;
    }

    @include media-breakpoint-up(l) {
      flex-direction: row;
    }
  }

  &-partnersButton {
    order: 2;

    @include media-breakpoint-up(s) {
      text-align: left;
      order: 0;
      position: relative;
    }
  }
}
