@import '~@s-ui/theme/lib/settings-compat-v7/index';
@import '~@s-ui/theme/lib/index';

.sui-ListMasonry {
  align-content: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &-column {
    align-content: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }
}
